@font-face {
    font-family: 'fuente';
    src: 
    url('Font/B612-Bold.woff') format('woff'),
    url('Font/B612-BoldItalic.woff') format('woff'),
    url('Font/B612-Italic.woff') format('woff'),
    url('Font/B612-Regular.woff') format('woff');
}

body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: #F4E4C8 ;
    color: #7C3030;
    font-family: 'fuente', monospace;
}

footer{
    position: relative;
    margin: 0;
    top: 0;
    background-color: #7C3030;
    height: 75px;
    text-align: center;
}

footer a {
    position: relative;
    top: 12.5px;
    margin: 50px;
    color: #F4E4C8;
    text-decoration: none;
}

h2 {
    text-align: center;
    line-height: 1.5em;
}

.banner {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1; 
}

.banner img {
    object-position: center 40%;
    object-fit: cover;
    width: 1500px;
    height: 400px;
}

#inicio {
    background-color: #7C3030;
    color: #F4E4C8;
    position: relative;
    padding: 0;
    margin-top: -10px;
}

#red-ph {
    position: absolute;
    left: 88%;
    top: 5%;
    width: 50px;
}

#foto {
    position: relative;
    object-fit: cover;
    object-position: center 25%;
    background-image: url(Yo.jpg);
    height: 275px;
    width: 275px;
    border-radius: 50%;
    border: 5px solid #7C3030;
    top: 50%; 
    left: 13%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
}

#nombre {
    position: relative;
    height: auto;
    width: auto;
    font-size: 24px;
    margin-top: -8.5%;
    left: 3.5%;
    z-index: 2;
}

#contenido {
    padding: 0;
    margin: 3.5%;
    text-align: justify;
    line-height: 1.5em;
    font-size: 18px;
}

#descripcion {
    line-height: 1.5em;
    margin: 3.5%;
    margin-top: 0;
    padding-bottom: 40px;
    text-align: justify;
    font-size: 18px;
}

#icono {
    position: absolute;
    width: 50px;
}