@font-face {
    font-family: 'fuente';
    src: 
    url('Font/B612-Bold.woff') format('woff'),
    url('Font/B612-BoldItalic.woff') format('woff'),
    url('Font/B612-Italic.woff') format('woff'),
    url('Font/B612-Regular.woff') format('woff');
}

body {
    margin: 0;
    background-color: #F5F5DC ;
    color: #800000;
    font-family: 'fuente';
    /*#c09d79*/
}

header {
    margin-top: 100px;
}

.titulo {
    text-align: center;
}

.barra-navegacion ul {
    position: fixed; /* Fija la posición de la barra de navegación */
    top: 0; /* Coloca la barra de navegación en la parte superior de la ventana del navegador */
    width: 100%; /* Ocupa todo el ancho de la ventana */
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el espacio interior de la lista */
    padding-top: 25px;
    margin: 0; /* Elimina el margen exterior de la lista */
    text-align: center; /* Centra los elementos horizontalmente */
    height: 50px;
    font-size: 150%;
    background-color: #B88B5C;
}

.barra-navegacion li {
    display: inline-block; /* Muestra los elementos de lista en línea */
    margin-right: 100px; /* Añade un espacio entre los elementos de lista */
}

.barra-navegacion a {
    text-decoration: none; /* Quita el subrayado de los hipervínculos */
    color: #800000; /* Color de los hipervínculos */
}

.footer {
    list-style-type: none;
    position: relative; 
    bottom: 0; 
    width: 100%; 
    background-color: #B88B5C;
    text-align: center;
    padding-bottom: 25px;
}

.footer a {
    text-decoration: none; /* Quita el subrayado de los hipervínculos */
    color: #800000; /* Color de los hipervínculos */
    font-size: 150%;
    margin: 0 10px
}

#redes {
    text-align: center;
    color: #800000;
} 

#foto {
    background-image: url(Yo.jpg);
    height: 300px;
}

#contenido {
    margin-right: 50px;
    margin-left: 50px;
}
