@font-face {
    font-family: 'fuente';
    src: 
    url('Font/B612-Bold.woff') format('woff'),
    url('Font/B612-BoldItalic.woff') format('woff'),
    url('Font/B612-Italic.woff') format('woff'),
    url('Font/B612-Regular.woff') format('woff');
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px; /* Se reduce el tamaño de la fuente para pantallas pequeñas */
    }
    #icono {
        width: 25px;
    }
    .banner img {
        object-position: center;
        width: 100%;
    }
}

body {
    margin: 0;
    font-family: 'fuente', monospace; /*Declaracion de fuente*/ 
    background-color: #F4E4C8 ;     /*Color  Principal: #F4E4C8*/
    color: #7C3030;                 /*Color Secundario: #7C3030*/
    max-width: 100%;
    overflow-x: hidden; /* Para que no se muestre la barra lateral inferior*/
    
}

h2 {
    text-align: center;
    line-height: 1.5em;
}


footer{
    position: relative;
    margin: 0;
    top: 0;
    background-color: #7C3030;
    height: 75px;
    text-align: center;
}

footer a {
    position: relative; /*Se establece el tamaño y la posición de los hipervinculos*/
    top: 12.5px;
    margin: 50px;
    color: #F4E4C8;
    text-decoration: none;
}

.banner {           
    position: relative;     /*Se establece la posición de la "caja" del banner*/
    width: 100%;
    text-align: center;
    z-index: 1; 
}

.banner img {
    object-position: center 40%; /*Se ajusta la imagen para que se vea mejor*/
    object-fit: cover;
    width: 1500px; /*Establece el tamaño del banner*/
    height: 400px;
}

#portada {
    position: relative; /*Establece parámetros generales de la portada*/
    padding: 0;
    margin-top: -10px;
    background-color: #7C3030;  
    color: #F4E4C8;
}

#red-ph {
    position: absolute; /*Establece posición del icono que dirige al apartado redes*/
    left: 88%;
    top: 5%;
    width: 50px;
}

#foto {
    background-image: url(Yo.jpg); /*Se escoge la imagen que se utiliza*/
    position: relative;
    object-fit: cover;
    object-position: center 25%;

    /*Establece borde de la imagen, tamaño, y posición de la foto*/
    height: 275px;
    width: 275px;
    border-radius: 50%;
    border: 5px solid #7C3030;
    top: 50%; 
    left: 13%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
}

#nombre {
    position: relative; /*Etablece características del nombre bajo la foto*/
    height: auto;
    width: auto;
    font-size: 24px;
    margin-top: -8.5%;
    left: 3.5%;
    z-index: 2;
}

#descripcion {    /*Establece posición y parámetros de la descripción de la portada*/
    line-height: 1.5em;
    margin: 3.5%;
    margin-top: 0;
    padding-bottom: 40px;
    text-align: justify;
    font-size: 18px;
}

#contenido {    /*Establece posición y parámetros del contenido de la página*/
    padding: 0;
    margin: 3.5%;
    text-align: justify;
    line-height: 1.5em;
    font-size: 18px;
}

#icono {    /*Iconos de las redes sociales*/
    position: absolute;
    width: 50px;
}